.show-page {
  display: flex;
  flex-flow: row wrap;

  &__show-info,
  &__image-container {
    display: inline-block;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__image-container__image {
    width: 100%;
    height: auto;
  }

  @media (min-width: 600px)  {
    &__show-info {
      width: 50%;
      margin-right: 10%;
    }

    &__image-container {
      width: 40%;
    }
  }
}

.episode-list {
  list-style-type: none;
  padding-inline-start: 0;

  .episode-list__item {
    cursor: pointer;
    margin-bottom: 1rem;
  }
}
